{
    "editor.inlineSuggest.enabled": true,
    "go.toolsManagement.autoUpdate": true,
    "explorer.confirmDelete": false,
    "aws.profile": "profile:default",
    "editor.minimap.enabled": false,
    "editor.tabSize": 2,
    "files.insertFinalNewline": true,
    "editor.largeFileOptimizations": false,
    "workbench.startupEditor": "none",
    "git.openRepositoryInParentFolders": "never",
    "[python]": {
        "editor.formatOnType": true
    },
    "explorer.confirmDragAndDrop": false,
    "editor.mouseWheelScrollSensitivity": 0.5,
    "editor.fastScrollSensitivity": 3,
    "security.workspace.trust.untrustedFiles": "open",
    "editor.semanticHighlighting.enabled": true,
    "editor.fontLigatures": false,
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.inlineSuggest.suppressSuggestions": true,
    "typescript.updateImportsOnFileMove.enabled": "always",
    "javascript.updateImportsOnFileMove.enabled": "always",
}
